@font-face {
  font-family: 'Recoleta';
  src: url('./recoleta-regulardemo.otf') format('opentype');
}

.recoleta{
  font-family: 'Recoleta', sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scroll) */
}

